
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}

.site-header {
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 20px;
}


.nav-bar {
    background: #0f172a;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-bar a {
    color: #e5e7eb;
    text-decoration: none;
    font-weight: bold;
}

.nav-bar a:hover {
    color: #60a5fa;
}


main {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    gap: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid #d1d5db;
}


.section-title {
    text-align: center;
    font-size: 22px;
    margin-top: 0;
}


.skill-list {
    padding-left: 20px;
}


.form-container {
    grid-column: 1 / span 2; 
    background: white;
    border: 1px solid #d1d5db;
    padding: 15px;
    border-radius: 8px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-form input,
.comment-form textarea {
    padding: 8px;
    border: 1px solid #bfbfbf;
    border-radius: 6px;
}


.checkbox-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-form button {
    padding: 10px;
    background: #2563eb;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

.comment-form button:hover {
    background: #1e40af;
}


.site-footer {
    background: #1e293b;
    color: #e5e7eb;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


.footer-table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    background: white;
}

.footer-table th,
.footer-table td {
    border: 1px solid #d4d4d4;
    padding: 8px;
}

.footer-table th {
    background: #2563eb;
    color: white;
}
